.App {
    text-align: center;
}

.mainDiv:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
}

.clockDiv {
    display: inline-block;
    vertical-align: middle;
}

.centeredTable {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    width: 300px;
}

.centeredSmallTable {
    margin: 10px auto;
    table-layout: fixed;
    border-collapse: collapse;
    width: 70px;
    border-spacing: 1px;
}

.headerCell {
    text-align: left;
}

.valueCell {
    text-align: right;
    margin-left: 15px;
    padding-left: 15px;
}

.analogClock {
    margin: 0 auto;
    position: relative;
}

.canvasBackground, .canvasForeGround {
    top: 0;
    left: 0;
    position: absolute;
}

